# --------------------
# Python cache/junk
# --------------------
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Databases
*.db

# --------------------
# Virtual environments
# --------------------
venv/
.venv/

# --------------------
# Databases (optional)
*.db

# --------------------
# Logs
*.log

# --------------------
# Environment variables / secrets
.env
.env.*

# --------------------
# VS Code settings
.vscode/

# --------------------
# Other IDEs/editors (optional)
.idea/